#jhub-logo a::after {
  content: 'Datapot';
  color: red;
  position: relative;
  right: 12px;
  bottom: -13px;
  font-size: 10px;
}

#jhub-logo a:hover {
  text-decoration: none;
  cursor: normal;
}

#jpy_notebook a::after {
  content: 'Datapot';
  color: red;
  position: relative;
  right: 12px;
  bottom: -13px;
  font-size: 10px;
}

#jpy_notebook a:hover {
  text-decoration: none;
  cursor: normal;
}
